<section>
	<h1>Friend Links</h1>
	<ul>
		<li><a href="http://qianghu.brandyourself.com">Brandyourself Profile</a></li>
		<li><a href="http://ivantao.hu">IvanTao.Hu</a></li>
		<li><a href="http://theliuyang.com">Liu Yang</a></li>
		<li><a href="http://yilin.li">Li Yilin</a></li>
		<li><a href="http://chenyuio.com">chenyu.I/O</a></li>
		<li><a href="http://wanwenli.com">Salmon Blog</a></li>
		<li><a href="http://guanyilun.wordpress.com/author/guanyilun/">Yi Lun's Backyard'</a></li>
		<li><a href="http://joshuatj.com/">Joshua T.J.</a></li>
	</ul>
</section>
